@import "../../../../styles/constants.scss";
@import "../../../../styles/colors.scss";

:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  height: 100%;
  width: 100%;
  margin: getUnit(10) 0;
}

.actions {
  position: relative;

  .removeGift {
    height: getUnit(16);
    width: getUnit(16);
    cursor: pointer;
    color: $color4;
    border-radius: 50%;
    text-align: center;
    margin: 0 getUnit(2);
    border: getUnit(2) solid $background-color;
    font-weight: 600;

    &:hover {
      border-color: $color4;
      font-weight: 600;
    }
  }

  .reserve {
    height: getUnit(16);
    width: getUnit(16);
    cursor: pointer;
    color: $color4;
    border-radius: 50%;
    margin: 0 getUnit(4);
    border: getUnit(2) solid $background-color;

    &:hover {
      border-color: $color4;
      font-weight: 600;
    }
  }

  .info {
    position: absolute;
    right: 100%;
    transition: all 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: right;
    background-color: $color4;
    color: $background-color;
    padding: getUnit(4);
    width: getUnit(40);
    text-align: center;
    pointer-events: none;
  }

  &:hover .info {
    display: block;
    transform: scaleX(1);
  }
}

.gift-description {
  margin: 0 getUnit(4);
}

.link {
  cursor: pointer;
  color: gray;
  margin: 0 getUnit(4);

  &:hover {
    font-weight: 600;
  }
}

.reservation {
  cursor: pointer;
  color: rgb(255, 77, 106);
}
