<div class="logOut" (click)="onLogOut()">wyloguj</div>

<h1>{{ (userFullName$ | async) | uppercase }}</h1>

<div class="letterOwners">
  <button [class.activeButton]="currentLetterOwner === 'currentUser'" (click)="onOwnerButtonClick('currentUser')">MÓJ LIST</button>
  &nbsp;
  <button
  [class.activeButton]="currentLetterOwner === user.key"
  *ngFor="let user of otherUsers$ | async"
  (click)="onOwnerButtonClick(user.key)">
    {{user.fullName}}
  </button>
</div>

<app-letter [user]="letterOwner$ | async"></app-letter>
