<div class="gifts">
  <ng-container *ngFor="let gift of letterOwner?.gifts | keyvalue">
    <div *ngIf="gift?.value.description.length > 0">
      <app-user-page-gift
        [gift]="gift?.value"
        [isLetterOwners]="ifCurentUserIsOwner()"
        (onGiftRemoved)="onRemoveButtonClick(gift?.key)"
        (onGiftReserved)="onReserveClick(gift?.key, gift?.value.reservation)"
        (onLinkActivated)="onLinkClick(gift?.value.link)"
        (onReservationNameActivated)="onReservationNameClick($event, gift?.key, gift?.value.reservation)"
      ></app-user-page-gift>
    </div>
  </ng-container>
</div>

<div *ngIf="ifCurentUserIsOwner()" class="addGift">
  <input
    id="addGift"
    #addGift
    (keyup)="onAddGiftKey($event)"
    placeholder="prezent"
    spellcheck="false"
  />
  <input
    id="addLink"
    #addLink
    (keyup)="onAddLinkKey($event)"
    placeholder="link"
    spellcheck="false"
  />
  <button class="add-button" (click)="onAddButtonClick()">+</button>
</div>
