$primary-color: #627354;
$secondary-color: #f7f1e9;
$tertiary-color: #ded3ac;
$quaternary-color: #c27a7e;

// Relax On Christmas Color Scheme
$color0: #892528;
$color1: #b4373b;
$color2: #e4d5c0;
$color3: #847767;
$color4: #474f37;
$color5: #faf7f2;

$primary-font-color: #847767;
$header-color: #892528;
