// Silvery Christmas Color Scheme
$color0: #a90348;
$color1: #c52b54;
$color2: #cccccc;
$color3: #b1b1b1;
$color4: #328000;
$color5: #1a6400;

$background-color: #faf7f2;
$primary-font-color: #353535;
$header-color: $color0;
