// Silvery Christmas Color Scheme
$color0: #92120f;
$color1: #c81f21;
$color2: #f2f2f2;
$color3: #7e8b84;
$color4: #5a644d;

$background-color: #faf7f2;
$primary-font-color: #353535;
$header-color: $color4;
