@import "../../../../styles/constants.scss";

:host {
  display: grid;
  height: 100%;
  grid:
    ". .       ." 35%
    ". content ." 35%
    ". .       ." 30%
    / 25% 50% 25%;
}

.content {
  grid-area: content;
  background-color: #faf7f2;
  box-shadow: 0 getUnit(4) getUnit(8) 0 #dad6d1,
    0 getUnit(6) getUnit(20) 0 #dad6d1;
}
