@import "styles/constants";
@import "styles/colors";

html,
body {
  margin: 0;
  height: 100vh;
  font-family: "NaomiSans EFN", Helvetica, sans-serif;
  font-size: getUnit(10);
  color: $primary-font-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
}

button::-moz-focus-inner {
  border: 0;
}

img {
  width: 100%;
}
